body {
    background-color: black;
    font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
    min-width: 340px;
    min-height: 550px;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selecting {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.links {
    position: fixed;
    right: 2%;
    top: 0;
    padding: 3px;
    color: black;
    z-index: 1;
}

.all-levels, .about, .reminder {
    background-color: #cccccc;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
}

.all-levels:hover, .about:hover, .reminder:hover {
    background-color: #f0f0f0;
}

.levels {
    position: fixed;
    right: 2%;
    top: 2%;
    left: 2%;
    bottom: 2%;
    padding: 3px;
    color: black;
    background-color: #cccccc;
    z-index: 2;
    display: none;
    overflow-y: auto;
}

.cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 100;
    font-size: 1.5em;
}

.cross:hover {
    background-color: grey;
}

.levels .greeting {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #cccccc;
    min-height: 540px;

}

.levels .greeting .words {
    position: relative;
    width: 50%;
    padding: 15px;
    margin: 0 auto;
}

.levels .greeting h3 {
    padding-bottom: 5px;
}
.levels .greeting p {
    padding-bottom: 12px;
}
.levels .greeting p a, .levels .greeting p a:visited {
    color: black;
}
.levels .greeting .code {
    background-color: #f0f0f0;
    margin: 2px;
    display: inline-block;
}

.levels .greeting .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.levels .greeting .guide {
    display: none;
}

.levels .greeting .select-level {
    position: relative;
    margin: 0 auto;
    display: block;
}

.levels .level-group {
    width: 33.3%;
    padding: 20px;
    position: relative;
    float: left;
}

.levels .level-name {
    font-size: 1.2em;
    padding: 3px;
}

.levels .level {
    margin: 3px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    background-color: gray;
    color: #f0f0f0;
}

.levels .level.passed {
    background-color: rgba(39, 174, 96, 1);
}

.levels .level:hover {
    background-color: #707070;
}

.controls {
    position: relative;
    float: left;
    width: 49%;
}

.buttons {
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.code code {
    background: #cccccc;
}

.code-wrapper code {
    overflow-y: auto;
}

.code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    -webkit-touch-callout: initial;
    -webkit-user-select: initial;
    -khtml-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

.name {
    color: #cccccc;
    padding: 10px;
    font-size: 1.2em;
}

.description {
    color: #cccccc;
    padding: 10px;
}

.description p {
    margin-top: 3px;
}

.description span {
    color: black;
    background-color: #f0f0f0;
    padding: 0 3px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.description span.story {
    font-size: 1.1em;
}
.description span.code {
    margin: 3px;
    display: inline-block;
}

.code-wrapper {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    position: relative;
}

.success-wrapper {
    position: relative;
    margin: 0px auto;
    width: 320px;
    text-align: center;
}

.success-wrapper p {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    padding: 5px;
}

.overlay {
    background-color: rgba(39, 174, 96, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}

.code-wrapper button {
    background-color: rgba(39, 174, 96, 1);
}

.error {
    color: white;
    background-color: #e74c3c;
    padding: 10px;
    display: none;
}

.nephritis-flat-button {
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 60px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #27ae60;
    border: 0;
    border-bottom: 2px solid #219d55;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #219d55;
    box-shadow: inset 0 -2px #219d55;
}
.nephritis-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alizarin-flat-button {
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 60px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #db4334;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
}
.alizarin-flat-button:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media screen and (max-width: 980px) {
    body {
        font-size: 12px;
    }
    .controls-first {
        zoom: 0.8;
        -moz-transform: scale(0.8);
    }
    .levels .greeting .words {
        position: relative;
        width: 90%;
        padding: 15px;
    }
}

@media screen and (max-width: 700px) {
    body {
        font-size: 12px;
    }
    .controls {
        width: 100%;
        float: none;
    }
    .levels .greeting .words {
        position: relative;
        width: 90%;
        padding: 15px;
    }
    .levels .greeting .guide {
        position: relative;
        width: 90%;
        padding: 15px;
    }

}

.nephritis-flat-button:disabled, .alizarin-flat-button:disabled {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #bdc3c7;
    border-bottom: 2px solid #acb2b7;
    -webkit-box-shadow: inset 0 -2px #acb2b7;
    box-shadow: inset 0 -2px #acb2b7;
}